#work-experience-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  background-color: var(--text-secondary);
  text-align: center;
  padding: 3rem 2.5rem;
}

.header-work-experiences h2 {
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  color: var(--text-primary);
  position: relative;
}
/* yellow line under h2 */
.header-work-experiences h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: var(--yellow);
}

.header-work-experiences p {
  padding: 1rem;
  color: var(--card-text-paragraph);
}

/* CARDS CONTAINER */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem 1.5rem 3rem 1.5rem;
  text-align: start;
}

/* SCREEN MAX 768PX ============================================== */
@media (max-width: 768px) {
  #work-experience-section {
    padding: 3rem 0.5rem;
  }
  .header-work-experiences h2::before {
    width: 20%;
    height: 6px;
  }
  .cards {
    flex-direction: column;
    gap: 0;
  }
}

/* SCREEN MAX 436px ============================================== */
@media (max-width: 436px) {
  #work-experience-section {
    padding: 3rem 0 1.8rem 0rem;
  }
  .header-work-experiences h2 {
    font-size: 2.7rem;
    
  }
}
