#banner-container {
  height: 95vh;
  padding-top: 5.5rem;
  display: flex;
  position: relative;
}

/* .img-banner {
  background-image: url("../../assets/banner.png"); 
  object-fit: cover;
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.bg-light-mode {
  background-color: var(--white);
}

.bg-dark-mode {
  background-color: var(--bg-dark);
}

/* text container banner */
.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.2rem;
  line-height: 1.4;
  background-color: var(--bg-light);
  color: var(--text-banner);
}

.banner-content h2 {
  width: 60%;
  font-size: 3.3rem;
  font-weight: 500;
}

.banner-content p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 2.3px;
}

.banner-content span {
  font-weight: 900;
  font-size: 2.4rem;
}

/* SCREEN MAX 768PX ============================================== */
@media (max-width: 768px) {
  #banner-container {
    height: 85vh;
  }
  .banner-content {
    width: 100%;
    padding-left: 2rem;
  }
  .img-banner {
    display: none;
  }
}

/* SCREEN MAX 375px ============================================== */
@media (max-width: 400px) {
  .banner-content h2 {
    width: 100%;
    margin: 0.8rem 0 0.8rem 0;
    font-size: 3rem;
    font-weight: 600;
  }
  .banner-content span {
    font-size: 2.7rem;
  }
}
