* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Colors Light Theme*/
:root {
  --text-banner: #022144;
  --bg-light: #fafbfc;
  --text-primary: #32333c;
  --text-secondary: #f6f8fc;
  --card-text-paragraph: #8a8fa3;
  --white: #fff;
  --yellow: #feb633;
  /* Colors Dark Theme */
  --title-work-experience: #cccccc;
  --card-text: #9f9f9f;
  --bg-work-section: #393838;
  --bg-dark: #252525;
}

body {
  line-height: 1.7;
}